body{
    background-color: #f0f0f0;
}
#container{
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
h1{
    color: #333;
    text-align: center;
    border-bottom: 2px solid lightgray;
}
p{
    color:#555;
    margin-bottom: 15px;
}
ul{
    margin-top: 20px;
    list-style: none;
}
li{
    padding: 8px;
    border-bottom: 1px solic #eee;
}
li:hover{
    background-color: lightblue;
}
.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2);
}
.grid-item{
    background-color: lightgreen;
    padding:15px;
    text-align: center;
}
footer{
    text-align: center;
    background-color: lightgray;
}

